streamlit==1.42.0
pillow==10.1.0  # Known stable version with wheels

# Add this to prefer binary packages
--prefer-binary
tiktoken
langchain
langchain_groq
langchain_google_genai
langchain_openai
langchain_chroma
chromadb
beautifulsoup4
lxml
pip==22.0.3
unstructured==0.8.4
unstructured-inference==0.5.4
pypandoc
pyopenssl
streamlit_extras
