streamlit==1.42.0
pillow==10.1.0  # Known stable version with wheels

tiktoken
langchain
langchain_groq
langchain_google_genai
langchain_openai
chromadb==0.3.29 
beautifulsoup4
lxml
pip==22.0.3
unstructured==0.8.4
unstructured-inference==0.5.4
pypandoc
pyopenssl
streamlit_extras
pysqlite3-binary; sys_platform == 'linux'
