streamlit==1.24.1
langchain
langchain_groq
langchain_google_genai
langchain_openai
langchain_chroma
chromadb
beautifulsoup4
pillow
lxml
pip==22.0.3
unstructured==0.8.4
unstructured-inference==0.5.4
pypandoc
pyopenssl
streamlit_extras
